<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no, email=no"/>
	<meta charset="UTF-8">
	<title>新建收货地址</title>
			<link rel="stylesheet" href="../css/lib/huimin.css" />
	<link rel="stylesheet" href="../css/OrderSubmit.css">
<script src="../js/base.js"></script>

	<style>
			[v-cloak] {
				display: none;
			}
		.m-cell {
			background-color: #FFF;
			position: relative;
			z-index: 1;
			margin-bottom: .35rem;
			height: 3rem;
			line-height: 3rem;
		}
		
		
		textarea {
    /* resize: none; */
    background:#FFFFFF;
}
		
	</style>

</head>
<body style="background:#eee">



    <div id="app">
	<section class="aui-myOrder-content" style="margin-top: 20px;">
		
		<div class="aui-Address-box">
			<p>
				<input class="aui-Address-box-input" type="text" v-model="receiver" placeholder="收货人姓名">
			</p>
			<p>
				<input class="aui-Address-box-input" type="text" v-model="phone" placeholder="手机号码">
			</p>
			<p>
				<input class="aui-Address-box-input" type="text" readonly id="J_Address"  placeholder="所在地区">
			</p>
			<p>
				<textarea class="aui-Address-box-text" v-model="address" placeholder="街道， 小区门牌等详细地址" rows="3"></textarea>
			</p>

		</div>
		<div class="aui-out" @click="PostSend">
			<a href="#" class="red-color" style="color:#fff">保存并使用</a>
		</div>
	</section>
    </div>
	<script src="../js/public.js" type="text/javascript"></script>
		<script src="../js/lib/hui.js" type="text/javascript"></script>

		<script src="../js/lib/vue20.min.js" type="text/javascript"></script>
		<script src="../js/lib/axios.min.js"></script>
		<script src="../js/lib/qs.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="../js/aui.js"></script>
	<script type="text/javascript" src="../js/city.js"></script>
	<script type="text/javascript" >
        /**
         * Javascript API调用Tab
         */
        !function ($) {
            var $tab = $('#J_Tab');

            $tab.tab({
                nav: '.tab-nav-item',
                panel: '.tab-panel-item',
                activeClass: 'tab-active'
            });

			/*
			 $tab.find('.tab-nav-item').on('open.ydui.tab', function (e) {
			 console.log('索引：%s - [%s]正在打开', e.index, $(this).text());
			 });
			 */

            $tab.find('.tab-nav-item').on('opened.ydui.tab', function (e) {
                console.log('索引：%s - [%s]已经打开了', e.index, $(this).text());
            });
        }(jQuery);
        

        
        	var domainUrl = GetMallApiDomain();

     function plusReady(){
HeadShow();	
back();

	var objuser = JSON.parse(plus.storage.getItem('user'));
    
    vum.UserName=objuser.UserName;
    vum.shopbm=objuser.shopbm;
    vum.UserRole=objuser.UserRole;

}
if(window.plus){  
plusReady();  
}else{  
document.addEventListener("plusready",plusReady,false);  
}    
        vum = new Vue({
				el: '#app',
				data: {
					UserName: '',
					shopbm: '',
					UserRole: '',
					receiver:'',
					phone:'',
					address:'',
					province:'',
					city:'',
					area:''
				},

				methods: {
				PostSend: function() {
					if (this.receiver==null || this.receiver==''){
						hui.upToast("请输入收货人姓名");
						return;
					}
					if (this.phone==null || this.phone==''){
						hui.upToast("请输入手机号码");
						return;
					}
					if (this.province==null || this.province=='' || this.city==null || this.city=='' || this.area==null || this.area=='' ){
						hui.upToast("请选择所在地区");
						return;
					}				
					if (this.address==null || this.address==''){
						hui.upToast("请输入详细地址");
						return;
					}				
					this.SendSave(username,this.receiver,this.province,this.city,this.area,this.address,this.phone);


				},
				SendSave: function(user_name, receiver,province, city, area, address, phone) {
					var that = this;

					axios.post(domainUrl + 'api/Order/PostAddressAdd', Qs.stringify({
							user_name: user_name,
							receiver:receiver,
							province: province,
							city: city,
							area: area,
							address: address,
							phone: phone
						}))

						.then(function(response) {
							if(response.data.code == '200') {
								hui.upToast(response.data.msg);
								setTimeout(function() {

										location.href = "AddressList.html"

									

								}, 800);

							} else {
								hui.upToast(response.data.msg);
								return false;
							}

						})
						.catch(function(response) {
							console.log(response);
						});

				}

				}

			})
        
        
        
	</script>
	<script>
                /**
         * 默认调用
         */
        !function () {
            var $target = $('#J_Address');

            $target.citySelect();

            $target.on('click', function (event) {
                event.stopPropagation();
                $target.citySelect('open');
            });

            $target.on('done.ydui.cityselect', function (ret) {
                $(this).val(ret.provance + ' ' + ret.city + ' ' + ret.area);
                vum.province=ret.provance;
                vum.city=ret.city;
                vum.area=ret.area;
            });
        }();

	</script>

</body>
</html>