<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta charset="UTF-8">
		<title>订单提交</title>
		<link rel="stylesheet" href="../css/lib/mui2.min.css" />
		<link rel="stylesheet" href="../css/lib/huimin.css" />
		<link rel="stylesheet" href="../css/OrderSubmit.css">
		<script src="../js/base.js"></script>
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
			
			.hui-picker-menu {
				height: 49px;
			}
			
			.hui-switch {
				width: 75px;
			}
		</style>
	</head>

	<body>

		<div id="app">
			<section class="aui-address-content">
				<div class="aui-address-box">
					<div class="aui-address-box-list" v-cloak>
						<a href="javascript:clickedNoHead('AddressList.html', 'AddressList.html', 'slide-in-left');" class="aui-address-box-default" v-for="(itema,index) in AddressList" v-cloak>
							<ul>
								<li>
									<strong>{{itema.receiver}}&nbsp;&nbsp;{{itema.phone}}</strong>
									<!--<span class="aui-tag" id="aui-home">家里</span>-->
									<span class="aui-tag aui-tag-default">默认</span>
								</li>
								<li>
									<i class="aui-icon aui-icon-address"></i> {{itema.province}}{{itema.city}}{{itema.area}}{{itema.address}}
								</li>
							</ul>
						</a>
					</div>
				</div>
				<div class="aui-dri"></div>
				<div class="aui-list-product-float-item" v-cloak>
					<a href="javascript:;" class="aui-list-product-fl-item" v-for="(item,index) in ItemList">
						<div class="aui-list-product-fl-img">
							<img :src="item.productImage" alt="">
						</div>
						<div class="aui-list-product-fl-text">
							<h3 class="aui-list-product-fl-title">{{item.productName}}</h3>
							<div class="aui-list-product-fl-mes" style="width: 90%;">
								<div>
									<span class="aui-list-product-item-price">
								<em>¥</em>
								{{item.productPrice}}
							</span>
									<!--<span class="aui-list-product-item-del-price">
								¥495.65
							</span>-->
								</div>
								<div class="aui-btn-purchase">
									<span>数量x{{item.productQuentity}}</span>
								</div>
							</div>

						</div>
					</a>
				</div>
				<div class="aui-address-well">
					<!--<a href="#" class="aui-address-cell aui-fl-arrow">
				<div class="aui-address-cell-bd">支持配送</div>
				<div class="aui-address-cell-ft">
					<p>在线支付</p>
					<p>顺丰快递</p>
					<p class="aui-address-text"><i class="aui-icon aui-prompt-sm"></i>11月12日[周五]09:00-15:00</p>
				</div>
			</a>-->
					<!--<div class="aui-prompt"><i class="aui-icon aui-prompt-sm"></i>请确认订单支付信息。</div>-->
					<div class="aui-dri"></div>
					<!--<a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
						<div class="aui-address-cell-bd">发票</div>
						<div class="aui-address-cell-ft">个人</div>
					</a>-->
					<!--<div class="aui-dri"></div>
			<a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
				<div class="aui-address-cell-bd">
					运费险
					<p style="color:#888">7天内退货，15天内可换货</p>
				</div>
				<div class="aui-address-cell-ft">￥0.50&nbsp;&nbsp;<input class="aui-switch" type="checkbox" checked="checked"></div>
			</a>-->
			
					<div class="aui-dri"></div>

					<a href="#" class="aui-address-cell" v-cloak>
						<div class="aui-address-cell-bd">本单自提&nbsp;</div>
						<div class="hui-switch hui-switch-off" id="TakeUse"><span>Off</span>
							<div class="hui-switch-in"></div>
						</div>
					</a>
			
					<div class="aui-dri"></div>
					<a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear" id="btnEcoupon" v-cloak>
						<div class="aui-address-cell-bd">优惠券&nbsp;<span class="hui-badge hui-danger">{{Ecount}}张</span></div>
						<!--<div class="aui-address-cell-ft">不可用</div>-->
					</a>
					<div class="aui-dri"></div>

					<a href="#" class="aui-address-cell" v-cloak>
						<div class="aui-address-cell-bd">PA&nbsp;<span class="hui-badge hui-danger">{{ShowAmountMoney}}</span></div>
						<div class="hui-switch hui-switch-off" id="AmountUse"><span>Off</span>
							<div class="hui-switch-in"></div>
						</div>
					</a>

					<div class="aui-dri"></div>

					<a href="#" class="aui-address-cell" v-cloak>
						<div class="aui-address-cell-bd">积分余额&nbsp;<span class="hui-badge hui-danger">{{UserPoint}}</span><br><span>本订单最多可使用：{{MaxRewardPoint}}分,已为您节省{{ShowPointMoney}}元</span></div>

					</a>

					<div class="aui-dri"></div>
					<a href="#" class="aui-address-cell aui-fl-arrow aui-fl-arrow-clear">
						<div class="aui-address-cell-bd">
							<h3>商品金额</h3>
							<p>运费<span v-show="postage==0">(公司包邮)</span></p>
							<p v-if="EcouponSwitch==1">优惠券</p>
							<p v-if="PointSwitch==1">积分抵扣</p>
							<p v-if="AmountSwitch==1">PA支付</p>
						</div>
						<div class="aui-address-cell-ft" v-cloak>
							<span class="aui-red">￥{{goodsMoney}}</span><br>
							<span class="aui-red">+￥{{postage}}</span><br>
							<span class="aui-red" v-if="EcouponSwitch==1">-￥{{Evalue}}</span><br v-if="EcouponSwitch==1">
							<span class="aui-red" v-if="PointSwitch==1">-￥{{ShowPointMoney}}</span><br v-if="PointSwitch==1">
							<span class="aui-red" v-if="AmountSwitch==1">-￥{{UseAmountMoney}}</span>
						</div>
					</a>
				</div>
				

				
				<div class="aui-payment-bar">
					<div class="shop-total">
						<span class="aui-red aui-size" v-cloak>实付款: <em>￥{{payMoney}}</em></span>
					</div>
					<a class="settlement" @click="OrderSave">提交订单</a>
				</div>
			</section>
		</div>
	</body>

	<script src="../js/CarStorage.js"></script>
	<script src="../js/public.js" type="text/javascript"></script>
	<script src="../js/lib/mui.min.js" type="text/javascript"></script>
	<script src="../js/lib/hui.js" type="text/javascript"></script>
	<script src="../js/lib/hui-picker.js" type="text/javascript"></script>
	<script src="../js/lib/vue20.min.js" type="text/javascript"></script>
	<script src="../js/lib/axios.min.js"></script>
	<script src="../js/lib/qs.js"></script>
	<script>
var domainUrl = GetMallApiDomain();		
var OrderSubmit =null;
var objuser=null;
var username =null;
var shopbm =null;
var UserRole=null;

function plusReady() { 
HeadShow();		
OrderSubmit = plus.storage.getItem("OrderSubmit");

if(OrderSubmit == undefined || OrderSubmit == null) {
				hui.upToast("请选择商品再提交订单");
				setTimeout(function() {
					plus.webview.currentWebview().close();
				}, 1000);

				return false;
			}

OrderSubmit = JSON.parse(OrderSubmit);
objuser = JSON.parse(plus.storage.getItem("user"));
username = objuser.UserName;
shopbm = objuser.shopbm;
UserRole = objuser.UserRole;





back();





}

if(window.plus){  
plusReady();  
}else{  
document.addEventListener("plusready",plusReady,false);  
}

		vum = new Vue({
			el: '#app',

			data: {
				UserName: username,
				pageIndex: 1,
				pageSize: 20,
				filedOrder: 'id',
				totalMoney: 0,
				goodsMoney:0,
				postage:0,
				payMoney: 0,
				xMoney:0,
				GoodsArr: '',
				AddressId: 0,
				takeWay: 0,
				PointSwitch: 1,
				EcouponSwitch: 0,
				AmountSwitch: 0,
				UserPoint: 0,
				ShowPoint: 0,
				PointMoney: 0,
				ShowPointMoney: 0,
				UsePointMoney: 0,
				UseAmountMoney: 0,
				ShowAmountMoney: 0,
				UserAmount: 0,
				MaxRewardPoint: 0,
				Ecount: 0,
				Evalue: 0,
				EcouponId: 0,
				ItemList: [],
				EcouponList: [],
				EcouponShow: [],
				AddressList: []
			},
			mounted: function() {

				this.$nextTick(function() {

					this.getUserAccount(username);
					this.GetAddressList(username, this.pageSize, this.pageIndex, this.filedOrder);
					
					

				})

			},

			watch: {
			  takeWay: function (val) {
			  	this.$nextTick(() => {
			    if (val==0){
			    	
			    	
			    		if (this.goodsMoney<150){
							this.postage=12;
							

							this.payMoney=parseFloat(this.xMoney)+12;
							this.payMoney = this.payMoney.toFixed(2);
						}
						
			    }
			    if (val==1){
	
			    	
			    	this.postage=0;
                    this.payMoney=parseFloat(this.xMoney);
                    this.payMoney = this.payMoney.toFixed(2);
			    }
			    });
			  }
			},

			methods: {

				GetOrderInfo: function() {

					if(OrderSubmit != null) {
						this.ItemList = [];
						this.GoodsArr = '';
						var objs = OrderSubmit.order;
						for(var i = 0; i < objs.length; i++) {
							this.ItemList.push({
								number: (i + 1),
								productId: objs[i].productId,
								productName: objs[i].productName,
								productPrice: objs[i].productPrice,
								rewardPoint: objs[i].rewardPoint,
								productImage: objs[i].productImage,
								productQuentity: objs[i].productQuentity,
							});

							this.goodsMoney = this.goodsMoney + Number(objs[i].productPrice) * Number(objs[i].productQuentity);
							this.MaxRewardPoint = this.MaxRewardPoint + Number(objs[i].rewardPoint) * Number(objs[i].productQuentity);
							
							if(this.GoodsArr == '' || this.GoodsArr.length == 0) {
								this.GoodsArr = objs[i].productId + '/' + objs[i].productQuentity;
							} else {
								this.GoodsArr = this.GoodsArr + ';' + objs[i].productId + '/' + objs[i].productQuentity;
							}

						}
						
						this.totalMoney=parseFloat(this.goodsMoney);						
						this.goodsMoney = this.goodsMoney.toFixed(2);
						this.totalMoney = this.totalMoney.toFixed(2);
                        this.xMoney = this.totalMoney;
                        
                        this.GetEcouponInfo();
					}
				},
				
				GetPostage: function() {

						if (this.goodsMoney<150){
							this.postage=12;
							this.payMoney=parseFloat(this.xMoney)+12;
						}
						else{
							this.postage=0;
							this.payMoney=parseFloat(this.xMoney);
						}
						
                        this.payMoney = this.payMoney.toFixed(2);
   
					
				},
				
				getUserAccount: function(UserName) {

					var that = this;
					axios.get(domainUrl + 'api/Member/getUserAccount', {
							params: {
								UserName: UserName,
							}
						})
						.then(function(response) {

							that.UserPoint = response.data.reward_point;
							that.ShowPoint = that.UserPoint;
							that.UserAmount = response.data.amount;
							that.ShowAmountMoney = response.data.amount;
							that.PointMoney = that.UserPoint;
							that.ShowPointMoney = that.UserPoint;
							
							that.GetOrderInfo();
							that.PointUse2();
							that.GetPostage();
						})
						.catch(function(response) {
							console.log(response);

						});

				},
				GetEcouponInfo: function() {

					var that = this;
					axios.get(domainUrl + 'api/Ecoupon/getMyEcouponGoUse', {
							params: {
								UserName: username,
								ProductIdArr: that.GoodsArr,
								OrderMoney: that.totalMoney,
							}
						})
						.then(function(response) {
							var jsonx = eval(response.data.RecordList);
							that.Ecount = eval(response.data.ecount);
							each(jsonx, function(i, j) {
								that.EcouponList.push({
									number: (i + 1),
									ecouponId: j.ecouponid,
									couponCode: j.couponCode,
									faceValue: j.faceValue,
									type: j.type,
									beginTime: j.beginTime,
									endTime: j.endTime,
									beMaxAmount: j.beMaxAmount,
									productUseValue: j.productUseValue,
									ecouponUseValue: j.ecouponUseValue,
								});
								that.EcouponShow.push({
									value: j.ecouponid,
									text: j.couponName
								})

								var picker1 = new huiPicker('#btnEcoupon', function() {
									that.EcouponSwitch = 1;
									var selVal = picker1.getVal(0);
									var selName = picker1.getText(0);
									hui('#btnEcoupon').html(selName);
									var arr1 = that.EcouponList.filter(function(item) {
										return item.ecouponId === selVal;
									})
									that.EcouponId = selVal;
									console.log(arr1[0].faceValue);
									that.Evalue = arr1[0].faceValue;
									if(parseFloat(that.xMoney) > parseFloat(that.Evalue)) {
										that.xMoney = parseFloat(that.xMoney) - parseFloat(that.Evalue);
										that.xMoney = that.xMoney.toFixed(2)
									} else {
										that.xMoney = 0;
									}

								});

								picker1.bindData(0, that.EcouponShow);

							});

						})
						.catch(function(response) {
							console.log(response);

						});
				},

				GetAddressList: function(user_name, pageSize, pageIndex, filedOrder) {
					var that = this;
					axios.get(domainUrl + 'api/Order/getAddressDefault', {
							params: {
								user_name: user_name,
								pageSize: pageSize,
								pageIndex: pageIndex,
								filedOrder: filedOrder,
							}
						})
						.then(function(response) {
							var jsonx = eval(response.data.RecordList);
							that.AddressList = [];
							each(jsonx, function(i, j) {

								that.AddressList.push({
									number: (i + 1),
									addressid: j.addressid,
									receiver: j.receiver,
									province: j.province,
									city: j.city,
									area: j.area,
									address: j.address,
									phone: j.phone,
									poscode: j.poscode,
									defaultbs: j.defaultbs
								});
								that.AddressId = j.addressid;
							});

							if(that.AddressId == 0) {
								hui.upToast('请设置默认的收货地址');
								setTimeout(function() {
                                    clickedNoHead('AddressList.html', 'AddressList.html', 'slide-in-left');

								}, 800);
							}

						})
						.catch(function(response) {
							console.log(response);

						});
				},

				OrderSave: function() {
					//hui.upToast(this.GoodsArr);
					//hui.upToast(this.AddressId);

					this.OrderPost(username, this.AddressId, this.GoodsArr, this.totalMoney, this.UsePointMoney, this.Evalue, this.EcouponId, this.UseAmountMoney, this.payMoney);
				},


				OrderPost: function(UserName, AddressId, GoodsArr, OrderMoney, pointMoney, ecouponMoney, ecouponId, accountMoney, payMoney) {
					var that = this;

					axios.post(domainUrl + 'api/Order/PostOrderSave', Qs.stringify({
							"user_name": UserName,
							"addressId": AddressId,
							"goodsArr": GoodsArr,
							"orderAmount": OrderMoney,
							"pointMoney": pointMoney,
							"ecouponMoney": ecouponMoney,
							"ecouponId": ecouponId,
							"accountMoney": accountMoney,
							"payAmount": payMoney
						}))

						.then(function(response) {
							if(response.data.code == '200') {
                                var orderNo = response.data.orderNo;
								if(payMoney == 0) {
									that.PayPost(UserName, orderNo, payMoney);
								} else {
									setTimeout(function() {
                                     var parm = {
						                   "OrderNo": orderNo,
						                   "FromName": "orderSub"
					                 }
					                  clickedParm('OrderPay.html', 'OrderPay.html', 'zoom-fade-out', parm,'订单支付');

									}, 800);
								}
							} else {
								hui.upToast(response.data.msg);
								return false;
							}

						})
						.catch(function(response) {
							console.log(response);
						});
				},


PointUse: function() {


				
				if(this.UserPoint <= 0) {
					this.PointSwitch = 1;

				}
				else{

				 
                        this.PointSwitch = 1;
						var pointInput = 0
                        if (this.UserPoint>this.MaxRewardPoint){
                        	pointInput=this.MaxRewardPoint;
                        }
                        else{
                        	pointInput=this.UserPoint;
                        }
						this.ShowPoint = pointInput;
						this.ShowPointMoney = parseFloat(pointInput*10).toFixed(2);
						this.UsePointMoney =  parseFloat(pointInput*10).toFixed(2);

						var pm = 0;
						if(this.EcouponSwitch == 1) {
							if(this.AmountSwitch == 1) {
								pm = (parseFloat(this.totalMoney) - parseFloat(this.Evalue) - parseFloat(this.UsePointMoney) - parseFloat(this.UseAmountMoney)).toFixed(2);
							} else {
								pm = (parseFloat(this.totalMoney) - parseFloat(this.Evalue) - parseFloat(this.UsePointMoney)).toFixed(2);
							}

						} else {
							if(this.AmountSwitch == 1) {
								pm = (parseFloat(this.totalMoney) - parseFloat(this.UsePointMoney) - parseFloat(this.UseAmountMoney)).toFixed(2);
							} else {
								pm = (parseFloat(this.totalMoney) - parseFloat(this.UsePointMoney)).toFixed(2);
							}
						}
						if(pm < 0) {
							pm = 0;
						}
						
						this.xMoney = pm;

                    					
				}


},


PointUse2: function() {




				 
                        this.PointSwitch = 1;
						var pointInput = this.MaxRewardPoint

						this.ShowPoint = pointInput;
						this.ShowPointMoney = parseFloat(pointInput).toFixed(2);
						this.UsePointMoney =  parseFloat(pointInput).toFixed(2);

						var pm = 0;
						if(this.EcouponSwitch == 1) {
							if(this.AmountSwitch == 1) {
								pm = (parseFloat(this.totalMoney) - parseFloat(this.Evalue) - parseFloat(this.UsePointMoney) - parseFloat(this.UseAmountMoney)).toFixed(2);
							} else {
								pm = (parseFloat(this.totalMoney) - parseFloat(this.Evalue) - parseFloat(this.UsePointMoney)).toFixed(2);
							}

						} else {
							if(this.AmountSwitch == 1) {
								pm = (parseFloat(this.totalMoney) - parseFloat(this.UsePointMoney) - parseFloat(this.UseAmountMoney)).toFixed(2);
							} else {
								pm = (parseFloat(this.totalMoney) - parseFloat(this.UsePointMoney)).toFixed(2);
							}
						}
						if(pm < 0) {
							pm = 0;
						}
						
						this.xMoney = pm;



},



				PayPost: function(UserName, orderNo, payAmount) {
					var that = this;

					axios.post(domainUrl + 'api/Order/PostPaySave', Qs.stringify({
							"user_name": UserName,
							"orderNo": orderNo,
							"payAmount": payAmount
						}))

						.then(function(response) {
							if(response.data.code == '200') {
								hui.upToast('订单支付成功,请等待收货');
								setTimeout(function() {
                                    var parm = {
						                   "tab": 2
					                 }
					                  clickedParm('OrderList.html', 'OrderList.html', 'zoom-fade-out', parm,'订单列表');

								}, 800);

							} else {
								hui.upToast(response.data.msg);
								return false;
							}

						})
						.catch(function(response) {
							console.log(response);
						});
				},

			}
			
			

		})

		hui('#AmountUse').switchBox(['Off', 'On'], function(res) {
			if(res) {
				if(vum.UserAmount <= 0) {
					hui('#AmountUse').removeClass('hui-switch-on');
					vum.AmountSwitch = 0;
					hui.upToast("余额不足，无法使用");
					return;
				}
				vum.AmountSwitch = 1;
				//修复iOS 8.x平台存在的bug，使用plus.nativeUI.prompt会造成输入法闪一下又没了
				var btnArray = ['取消', '确定'];
				mui.prompt('请输入使用金额：', '储值支付', '储值支付', btnArray, function(e) {
					if(e.index == 1) {

						var amountInput = e.value;
						if(null == amountInput || "" == amountInput) {
							hui('#AmountUse').removeClass('hui-switch-on');
							vum.AmountSwitch = 0;
							hui.upToast("金额不能为空");
							return;
						}
						if(isNaN(amountInput)) {
							hui('#AmountUse').removeClass('hui-switch-on');
							vum.AmountSwitch = 0;
							hui.upToast("金额必须是数值");
							return;
						}
						if(Number(amountInput) <= 0 || Number(amountInput) > Number(vum.UserAmount)) {
							hui('#AmountUse').removeClass('hui-switch-on');
							vum.AmountSwitch = 0;
							hui.upToast("金额必须大于零且小于余额的数值");
							return;
						}

						if(Number(amountInput) > Number(vum.payMoney)) {
							hui('#AmountUse').removeClass('hui-switch-on');
							vum.AmountSwitch = 0;
							hui.upToast("金额不能大于需支付金额");
							return;
						}
						vum.UseAmountMoney = amountInput;
						vum.ShowAmountMoney = (parseFloat(vum.UserAmount) - parseFloat(amountInput)).toFixed(2);
						var pm = 0;
						if(vum.EcouponSwitch == 1) {
							if(vum.PointSwitch == 1) {
								pm = (parseFloat(vum.totalMoney) - parseFloat(vum.Evalue) - parseFloat(vum.UsePointMoney) - parseFloat(vum.UseAmountMoney)).toFixed(2);
							} else {
								pm = (parseFloat(vum.totalMoney) - parseFloat(vum.Evalue) - parseFloat(vum.UseAmountMoney)).toFixed(2);
							}

						} else {
							if(vum.PointSwitch == 1) {
								pm = (parseFloat(vum.totalMoney) - parseFloat(vum.UsePointMoney) - parseFloat(vum.UseAmountMoney)).toFixed(2);
							} else {
								pm = (parseFloat(vum.totalMoney) - parseFloat(vum.UseAmountMoney)).toFixed(2);
							}
						}
						if(pm < 0) {
							pm = 0;
						}
						vum.xMoney = pm;

					} else {
						setTimeout(function() {
							hui('#AmountUse').removeClass('hui-switch-on');
							vum.AmountSwitch = 0;
						}, 100);
					}
				})

			} else {
				vum.AmountSwitch = 0;
				vum.ShowAmountMoney = vum.UserAmount;
				var pm = 0;
				if(vum.EcouponSwitch == 1) {
					if(vum.PointSwitch == 1) {
						pm = (parseFloat(vum.totalMoney) - parseFloat(vum.Evalue) - parseFloat(vum.UsePointMoney)).toFixed(2);
					} else {
						pm = (parseFloat(vum.totalMoney) - parseFloat(vum.Evalue)).toFixed(2);
					}

				} else {
					if(vum.PointSwitch == 1) {
						pm = (parseFloat(vum.totalMoney) - parseFloat(vum.UsePointMoney)).toFixed(2);
					} else {
						pm = parseFloat(vum.totalMoney).toFixed(2);
					}
				}
				if(pm < 0) {
					pm = 0;
				}
				vum.xMoney = pm;

			}
		}, true);
		
		
		hui('#TakeUse').switchBox(['Off', 'On'], function(res) {
			if(res) {

				vum.takeWay = 1;
				console.log(vum.takeWay);


			} 
			else{
				vum.takeWay = 0;

				console.log(vum.takeWay);
			}
		}, true);
		
		
	</script>

</html>