<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet" href="../css/lib/huimin.css" />
		<link rel="stylesheet" href="../css/lib/weui.css" />
		<link rel="stylesheet" href="../css/lib/weui2.css" />
		
		<style>
			[v-cloak] {
				display: none;
			}
		</style>

	</head>


	<body ontouchstart style="background-color: #f8f8f8;">
		<div id="bodyinfo">
			<div class="weui_cells_title"><h4>{{UserName}}的定期电话跟踪服务记录表</h4></div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_hd"><label for="" class="weui_label">访问日期</label></div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" type="date" value="" v-model="CallBackDate" />
					</div>
				</div>



				<div class="weui_cell">
					<div class="weui_cell_hd"><label class="weui_label">记录关键字</label></div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" type="text" placeholder="请输入这次记录关键字" v-model="TheKey" />
					</div>
				</div>



			</div>




			<div class="weui_cells_title">常规自测数据记录</div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<textarea id="textarea1" class="weui_textarea" placeholder="请输入文本" rows="4" v-model="BasicCheckInfo"></textarea>
						<div class="weui_textarea_counter"><span id='count1'>0</span>/<span id='count_max1'>200</span></div>
					</div>
				</div>
			</div>

			<div class="weui_cells_title">饮食情况</div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<textarea id="textarea2" class="weui_textarea" placeholder="请输入文本" rows="4" v-model="FoodInfo"></textarea>
						<div class="weui_textarea_counter"><span id='count2'>0</span>/<span id='count_max2'>200</span></div>
					</div>
				</div>
			</div>
			
			<div class="weui_cells_title">运动情况</div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<textarea id="textarea3" class="weui_textarea" placeholder="请输入文本" rows="4" v-model="SportInfo"></textarea>
						<div class="weui_textarea_counter"><span id='count3'>0</span>/<span id='count_max3'>200</span></div>
					</div>
				</div>
			</div>
			
			<div class="weui_cells_title">睡眠情况</div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<textarea id="textarea4" class="weui_textarea" placeholder="请输入文本" rows="4" v-model="SleepInfo"></textarea>
						<div class="weui_textarea_counter"><span id='count4'>0</span>/<span id='count_max4'>200</span></div>
					</div>
				</div>
			</div>
			
			<div class="weui_cells_title">用产品情况</div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<textarea id="textarea5" class="weui_textarea" placeholder="请输入文本" rows="4" v-model="ProductUseInfo"></textarea>
						<div class="weui_textarea_counter"><span id='count5'>0</span>/<span id='count_max5'>200</span></div>
					</div>
				</div>
			</div>	
			
			
			<div class="weui_cells_title">自我感觉/调理反应</div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<textarea id="textarea6" class="weui_textarea" placeholder="请输入文本" rows="4" v-model="FeelInfo"></textarea>
						<div class="weui_textarea_counter"><span id='count6'>0</span>/<span id='count_max6'>200</span></div>
					</div>
				</div>
			</div>
			<div class="weui_cells_title">正在用的产品</div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<textarea id="textarea7" class="weui_textarea" placeholder="请输入文本" rows="4" v-model="PorductUsing"></textarea>
						<div class="weui_textarea_counter"><span id='count7'>0</span>/<span id='count_max7'>200</span></div>
					</div>
				</div>
			</div>

			<div class="weui_cells_title">备注（包括医生的新建议）</div>
			<div class="weui_cells weui_cells_form">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<textarea id="textarea8" class="weui_textarea" placeholder="请输入文本" rows="4" v-model="Remark"></textarea>
						<div class="weui_textarea_counter"><span id='count8'>0</span>/<span id='count_max8'>200</span></div>
					</div>
				</div>
			</div>


			<div style="padding:10px 20px;">
				<button type="button" class="hui-button hui-button-large hui-danger" style="margin-top:15px;" id="PostSend" @click="PostSend">记录提交</button>
			</div>
		</div>
        <script src="../js/base.js"></script>
		<script src="../js/lib/hui.js" type="text/javascript"></script>
		<script src="../js/public.js" type="text/javascript"></script>
		<script src="../js/lib/jquery-2.1.3.min.js" type="text/javascript"></script>
		<script src="../js/lib/vue20.min.js" type="text/javascript"></script>

		<script src="../js/lib/axios.min.js"></script>
		<script src="../js/lib/qs.js"></script>

		<script>
			$(function() {
				var max1 = $('#count_max1').text();
				$('#textarea1').on('input', function() {
					var text = $(this).val();
					var len = text.length;
					$('#count1').text(len);
					if(len > max1) {
						$(this).closest('.weui_cell').addClass('weui_cell_warn');
					} else {
						$(this).closest('.weui_cell').removeClass('weui_cell_warn');
					}
				});

				var max2 = $('#count_max2').text();
				$('#textarea2').on('input', function() {
					var text = $(this).val();
					var len = text.length;
					$('#count2').text(len);
					if(len > max2) {
						$(this).closest('.weui_cell').addClass('weui_cell_warn');
					} else {
						$(this).closest('.weui_cell').removeClass('weui_cell_warn');
					}
				});
				
				var max3 = $('#count_max3').text();
				$('#textarea3').on('input', function() {
					var text = $(this).val();
					var len = text.length;
					$('#count3').text(len);
					if(len > max3) {
						$(this).closest('.weui_cell').addClass('weui_cell_warn');
					} else {
						$(this).closest('.weui_cell').removeClass('weui_cell_warn');
					}
				});
				
				var max4 = $('#count_max4').text();
				$('#textarea4').on('input', function() {
					var text = $(this).val();
					var len = text.length;
					$('#count4').text(len);
					if(len > max4) {
						$(this).closest('.weui_cell').addClass('weui_cell_warn');
					} else {
						$(this).closest('.weui_cell').removeClass('weui_cell_warn');
					}
				});
				
				var max5 = $('#count_max5').text();
				$('#textarea5').on('input', function() {
					var text = $(this).val();
					var len = text.length;
					$('#count5').text(len);
					if(len > max5) {
						$(this).closest('.weui_cell').addClass('weui_cell_warn');
					} else {
						$(this).closest('.weui_cell').removeClass('weui_cell_warn');
					}
				});
				
				var max6 = $('#count_max6').text();
				$('#textarea6').on('input', function() {
					var text = $(this).val();
					var len = text.length;
					$('#count6').text(len);
					if(len > max6) {
						$(this).closest('.weui_cell').addClass('weui_cell_warn');
					} else {
						$(this).closest('.weui_cell').removeClass('weui_cell_warn');
					}
				});
				
				var max7 = $('#count_max7').text();
				$('#textarea7').on('input', function() {
					var text = $(this).val();
					var len = text.length;
					$('#count7').text(len);
					if(len > max7) {
						$(this).closest('.weui_cell').addClass('weui_cell_warn');
					} else {
						$(this).closest('.weui_cell').removeClass('weui_cell_warn');
					}
				});
				
				var max8 = $('#count_max8').text();
				$('#textarea8').on('input', function() {
					var text = $(this).val();
					var len = text.length;
					$('#count8').text(len);
					if(len > max8) {
						$(this).closest('.weui_cell').addClass('weui_cell_warn');
					} else {
						$(this).closest('.weui_cell').removeClass('weui_cell_warn');
					}
				});
				
				
				

			})
		</script>

		<script>

var domainUrl = GetMvcApiDomain();

function plusReady(){
HeadShow();	
back();
var _self = plus.webview.currentWebview();
var ToUser=_self.ToUser;
if(ToUser==null || ToUser=='' || ToUser==undefined){
	plus.nativeUI.toast("参数错误，请返回重新选择");
		setTimeout(function() {
			plus.webview.currentWebview().close();
		}, 1000);
	
}
else{

	var objuser = JSON.parse(plus.storage.getItem('user'));
    vum.UserName=ToUser;
    vum.shopbm=objuser.shopbm;
    vum.CreateUser=objuser.UserName;


}





}
if(window.plus){  
plusReady();  
}else{  
document.addEventListener("plusready",plusReady,false);  
}


			vum=new Vue({
				el: '#bodyinfo',
				data: function() {
					return {
						UserName: "",
						CreateUser:"",
						shopbm:"",
						CallBackDate: "",
						TheKey:"",
						BasicCheckInfo: "",
						FoodInfo: "",
						SportInfo: "",
						SleepInfo: "",
						ProductUseInfo: "",
						FeelInfo: "",
						PorductUsing:"",
						Remark:""
					}
				},

				mounted: function() {

					this.$nextTick(function() {

						

					})

				},

				methods: {

					
					PostSend: function() {

						if(this.CallBackDate == "" || this.CallBackDate == null) {
							hui.upToast('请输入回访日期!');
							return false;
						}
						if(this.TheKey == "" || this.TheKey == null) {
							hui.upToast('请输入关键字!');
							return false;
						}


						



						this.SendSave(this.UserName, this.CallBackDate, this.TheKey, this.BasicCheckInfo, this.FoodInfo, this.SportInfo, this.SleepInfo, this.ProductUseInfo,this.FeelInfo, this.PorductUsing, this.Remark, this.CreateUser)
					},
					SendSave: function(UserName, CallBackDate, TheKey, BasicCheckInfo, FoodInfo, SportInfo, SleepInfo, ProductUseInfo,FeelInfo,PorductUsing, Remark, CreateUser) {
						var that = this;
						that.addInterceptors();

						axios.post(domainUrl + 'api/WorkFlow/TraceRecordAdd', Qs.stringify({
								UserName: UserName,
								CallBackDate: CallBackDate,
								TheKey: TheKey,
								BasicCheckInfo: BasicCheckInfo,
								FoodInfo: FoodInfo,
								SportInfo: SportInfo,
								SleepInfo: SleepInfo,
								ProductUseInfo:ProductUseInfo,
								FeelInfo: FeelInfo,
								PorductUsing:PorductUsing,
								Remark: Remark,
								CreateUser: CreateUser
							}))

							.then(function(response) {
								if(response.data.code == '200') {
									hui.toast("更新档案资料成功!");
									setTimeout(function() {
										plus.webview.currentWebview().close();
									}, 800);

								} else {
									hui.toast(response.data.msg);
									return false;
								}

							})
							.catch(function(response) {
								console.log(response);
							});

					},

					addInterceptors: function() {
						axios.interceptors.request.use(function(config) {
							console.log('开始请求')
							config.headers['Content-Type'] = 'application/x-www-form-urlencoded';
							if(hui('#PostSend').buttonIsLoading()) {
								return false;
							}
							hui('#PostSend').loadingButton('正在更新资料中...');
							return config
						}, function(error) {
							console.log('请求失败')
							hui('#PostSend').resetLoadingButton();
							hui('#PostSend').html("档案提交");
							hui.toast("请求失败");
							return Promise.reject(error)
						})
						axios.interceptors.response.use(function(config) {
							hui('#PostSend').resetLoadingButton();
							hui('#PostSend').html("档案提交");
							console.log('接收响应')
							return config
						}, function(error) {
							console.log('响应出错')
							hui('#PostSend').resetLoadingButton();
							hui('#PostSend').html("档案提交");
							hui.toast("更新资料失败");
							return Promise.reject(error)
						})
					}

				}
			})
		</script>

	</body>

</html>