<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
		<title>客户跟踪服务管理</title>
		<link rel="stylesheet" href="../css/lib/huimin.css" />
		<link rel="stylesheet" href="../css/lib/weui.css" />
		<link rel="stylesheet" href="../css/lib/weui2.css" />
		
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
			

			
	        html,

			body {
				margin: 0;
                padding: 0;
                height: 100%;
				font: 12px/1 'Roboto', sans-serif;
				color: #555;
				background-color: #fff;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			
			ul {
				list-style: none;
			}



			

			#app {
				position: absolute;
				top: 0px;
                bottom: 2px;
				width: 100%;
			}
			
			#wrapper {
				position: absolute;
				top: 44px;
				bottom: 0px;
				width: 100%;
			}
			
			#scroller {
				margin: 0;
				padding: 0;
			}
			
			.item {
				height: 60px;
				line-height: 60px;
				border-bottom: 1px solid #ddd;
				text-indent: 1em;
				background: #fff;
			}
			
			.jroll-infinite-tip {
				height: 44px;
				line-height: 44px;
				text-align: center;
			}
			
			.jroll-vue-infinite {
				height: 100%;
			}
		</style>

	</head>

	<body>


		<div id="app">
			            <div class="weui-form-preview-ft">
                <a class="weui-form-preview-btn weui-form-preview-btn-primary" style="background:#5E5E5E;" @click="AddTraceRecord"><h3><font color="#FFFFFF">新增 ● 客户{{UserName}}服务记录</font></h3> </a>

            </div>
			<div class="weui_search_bar">
<input type="search" class="search-input" v-model="KeyTxt" placeholder='关键字' style="box-sizing:content-box"/><button  class="weui_btn weui_btn_mini weui_btn_primary" @click="GetSearchData"><i class="icon icon-4"></i></button>    
</div>
			
			 <jroll-infinite class="jroll-vue-infinite">	
			 	
			 	<div class="weui_cells weui_cells_access">

            <a class="weui_cell" @click="TraceShow(Item.tid);" v-for="(Item,index) in ItemList" v-cloak>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>回访:{{Item.CallBackDate}}({{Item.TheKey}})</p>
                </div>
                <div class="weui_cell_ft">记录详细</div>
            </a>

        </div>  

            </jroll-infinite>
            </div>
          </body>
        <script src="../js/base.js"></script>
		<script src="../js/lib/hui.js" type="text/javascript"></script>
		<script src="../js/public.js" type="text/javascript"></script>
		<script src="../js/lib/vue20.min.js" type="text/javascript"></script>
		<script src="../js/lib/axios.min.js"></script>
		<script src="../js/lib/qs.js"></script>
		<script src="../js/lib/jroll.js" type="text/javascript"></script>
		<script src="../js/lib/jroll-vue-infinite.js" type="text/javascript"></script>
		<script src="../js/lib/jroll-pulldown.js" type="text/javascript"></script>

		<script>
			
			

			var domainUrl = GetMvcApiDomain();


function plusReady(){
HeadShow();	
back();
var _self = plus.webview.currentWebview();
var ToUser=_self.ToUser;
if(ToUser==null || ToUser=='' || ToUser==undefined){
	plus.nativeUI.toast("参数错误，请返回重新选择");
		setTimeout(function() {
			plus.webview.currentWebview().close();
		}, 1000);
	
}
else{

	var objuser = JSON.parse(plus.storage.getItem('user'));
    vum.UserName=ToUser;
    vum.RoleUser=objuser.UserName;
    vum.shopbm=objuser.shopbm;
    vum.UserRole = objuser.UserRole;


}





}
if(window.plus){  
plusReady();  
}else{  
document.addEventListener("plusready",plusReady,false);  
}

			// vue实例
			var vum
			var infOptions = {
				pulldown: {},
				bottomed: function(complete) {
					var that = this;
					that.$parent.pageIndex++;
					axios.get(domainUrl + 'api/WorkFlow/getTraceRecordList', {
							params: {
								pageIndex: that.$parent.pageIndex,
								pageSize: that.$parent.pageSize,
								UserName: that.$parent.UserName,
								KeySearch: that.$parent.KeyTxt,
							}
						})
						.then(function(response) {
							var jsonx = eval(response.data.RecordList);
							that.$parent.ItemData = [];
							each(jsonx, function(i, j) {

								that.$parent.ItemData.push({
									number: (i + 1),
									tid: j.Id,
									CallBackDate: j.CallBackDate,
									TheKey: cutstr(j.TheKey, 16),
									CreateTime: j.CreateTime
								});


							});

							if(typeof complete === 'function') {
								that.$parent.ItemList = that.$parent.ItemData;
								complete();
							} else {
								that.$parent.ItemList = that.$parent.ItemList.concat(that.$parent.ItemData);
							}

							that.$parent.pageCount = response.data.PageCount;
							that.total = response.data.PageCount;

							that.success();

						})
						.catch(function(response) {
							console.log(response);
							that.error();
						});
				},
				updated: function() {
					console.log('current page is ' + this.page)
				}

			}

			vum = new Vue({
				el: '#app',
				components: {
					'jroll-infinite': JRoll.VueInfinite(infOptions, {
						scrollBarY: true
					})
				},
				data: {
					pageIndex:0,
					pageSize:20,
					UserName: "",
					shopbm: "",
					RoleUser: "",
					UserRole: 0,
					KeyTxt: "",
					ItemData: [],
					ItemList: []
				},

				methods: {
					
				GetItemList: function(username,pageIndex,pageSize,KeySearch) {
					var that = this;
					that.axiosGetLoadding();
					axios.get(domainUrl + 'api/WorkFlow/getTraceRecordList', {
							params: {
								pageIndex: pageIndex,
								pageSize: pageSize,
								UserName: username,
								KeySearch: KeySearch,
							}
						})
						.then(function(response) {
							var jsonx = eval(response.data.RecordList);
							that.ItemData = [];
							each(jsonx, function(i, j) {

								that.ItemData.push({
									number: (i + 1),
									tid: j.Id,
									CallBackDate: j.CallBackDate,
									TheKey: cutstr(j.TheKey, 16),
									CreateTime: j.CreateTime
								});


							});

								that.ItemList = that.ItemData;
								


							that.pageCount = response.data.PageCount;
							that.$children[0].total = response.data.PageCount;
							if(that.$children[0].total<=1) {
								that.$children[0].tip="";
							}


						})
						.catch(function(response) {
							console.log(response);
			
						});
				},
					GetSearchData: function() {
						this.pageIndex = 1;
						this.ItemList = [];
						this.ItemData = [];
						this.$children[0].page=1;
						this.GetItemList(this.UserName, this.pageIndex,this.pageSize, this.TheKey);
					},
					
					axiosGetLoadding: function() {
						axios.interceptors.request.use(function(config) {
							console.log('开始请求')
							config.headers['Content-Type'] = 'application/x-www-form-urlencoded';
							hui.loading('数据加载中');
							return config
						}, function(error) {
							console.log('请求失败')
							hui.closeLoading();
							hui.toast("数据加载失败,请检查网络");
							return Promise.reject(error)
						})
						axios.interceptors.response.use(function(config) {
							hui.closeLoading();

							console.log('接收响应')
							return config
						}, function(error) {
							console.log('响应出错')
							hui.closeLoading();
							hui.toast("数据加载失败,请检查网络");
							return Promise.reject(error)
						})
					},
					TraceShow: function(tid) {
						var parm = {"traceId" : tid}
                        clickedParm('MemberTraceEdit.html','MemberTraceEdit.html','slide-in-right',parm,'电话服务记录');

					},
					AddTraceRecord: function() {
                         var parm = {"ToUser" : this.UserName}
                        clickedParm('MemberTraceAdd.html','MemberTraceAdd.html','slide-in-right',parm,'新增电话服务记录');
					}

				}

			})
		</script>


</html>