html,
			body {
				background-color: #efeff4;
			}

			
			.mui-views,
			.mui-view,
			.mui-pages,
			.mui-page,
			.mui-page-content {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: #efeff4;
			}
			.mui-pages {
				height: auto;
			}
			.mui-scroll-wrapper,
			.mui-scroll {
				background-color: #efeff4;
			}
			.mui-page.mui-transitioning {
				-webkit-transition: -webkit-transform 300ms ease;
				transition: transform 300ms ease;
			}
			.mui-page-left {
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
			.mui-ios .mui-page-left {
				-webkit-transform: translate3d(-20%, 0, 0);
				transform: translate3d(-20%, 0, 0);
			}


			.mui-android .mui-navbar-inner.mui-navbar-left {
				opacity: 0;
			}
			.mui-ios .mui-navbar-left .mui-left,
			.mui-ios .mui-navbar-left .mui-center,
			.mui-ios .mui-navbar-left .mui-right {
				opacity: 0;
			}

			.mui-page-shadow {
				position: absolute;
				right: 100%;
				top: 0;
				width: 16px;
				height: 100%;
				z-index: -1;
				content: '';
			}
			.mui-page-shadow {
				background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
				background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
			}
			.mui-navbar-inner.mui-transitioning,
			.mui-navbar-inner .mui-transitioning {
				-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
				transition: opacity 300ms ease, transform 300ms ease;
			}
			.mui-page {
				display: none;
			}
			.mui-pages .mui-page {
				display: block;
			}
			.mui-page .mui-table-view:first-child {
				margin-top: 0px;
			}
			.mui-page .mui-table-view:last-child {
				margin-bottom: 10px;
			}
			.mui-table-view {
				margin-top: 5px;
			}
			
			.mui-table-view span.mui-pull-right {
				color: #999;
			}
			.mui-table-view-divider {
				background-color: #efeff4;
				font-size: 14px;
			}
			.mui-table-view-divider:before,
			.mui-table-view-divider:after {
				height: 0;
			}
			.head {
				height: 40px;
			}
			#head {
				line-height: 40px;
			}
			.head-img {
				width: 40px;
				height: 40px;
			}
			#head-img1 {
				position: absolute;
				bottom: 10px;
				right: 40px;
				width: 40px;
				height: 40px;
			}
			.update {
				font-style: normal;
				color: #999999;
				margin-right: -25px;
				font-size: 15px
			}
			.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			/*.mui-ios .mui-navbar .mui-bar .mui-title {
				position: static;
			}*/
			/*问题反馈在setting页面单独的css*/
			#feedback .mui-popover{
				position: fixed;
			}
			#feedback .mui-table-view:last-child {
			    margin-bottom: 0px;
			}
			#feedback .mui-table-view:first-child {
			    margin-top: 0px;
			}
.mui-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 44px;

    color: #FFF;
    /*margin-left: 40% !important;*/
}			

	
	
.mui-bar .mui-btn-link {

    color: #fff;

}
			
.mui-bar-nav {
	background: #E92F2F;
	
	}			

	
.userinfo{
	overflow: hidden;
	position:relative;
	padding: 15px 10px;
}
.mui-bar-nav {
	-webkit-box-shadow: 0px 0px 0px #E92F2F !important;
	}	
.box{
	background: #E92F2F;
	height:92px;
}

.userinfo img{
	width:50px;
	height: 50px;
	border-radius: 100px;
	float: left;
}

.userinfo h4{
	float: left;
	color: #fff;
	font-size: 18px;
    position:relative;
    left:20px;
    top:-2px;
}
.userinfo p{
	float: left;
	color: #fff;
	font-size: 20px;
    position:absolute;
    left:80px;
    top:35px;
    width: 68%;
    line-height: 20px;


}

.userinfo p span{
	position:relative;
    font-size: 12px;
    top:0px;
    padding: 2px 4px;
    background: #fff;
    color: red;
    border-radius: 0.4rem;
    margin-left: 2px;
   margin-top: 4px;
}
.userinfo span{

	color: #fff;
	position:absolute;
    right:10px;
    top:28px;
    font-size: 16px;
}

.fourbtn{
	background: #6A6E77;
	/*margin-top: 10px;*/
	padding: 6px 0px;
	overflow: hidden;
	
	   border: 1px solid #6A6E77;
            background-color: gray;
            position:relative;
	transform-style: preserve-3d;

}
.fourbtn div{
	float: left;
	width: 25%;
	text-align: center;
}

.fourbtn div span{
font-size: 16px;
color:#fff;
}

.fourbtn div h5{

font-size: 12px;
color:#fff;
}

.threebtn{
	background: #6A6E77;
	/*margin-top: 10px;*/
	padding: 10px 0px;
	overflow: hidden;
	
	   border: 1px solid #6A6E77;
            background-color: gray;
            position:relative;
	transform-style: preserve-3d;
}

.threebtn div{
	float: left;
	width: 33.3333%;
	text-align: center;
}
.threebtn div span{
font-size: 16px;
color:#fff;
}
.threebtn div h5{
font-size: 12px;
color:#fff;
}
.lefticon{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 100px;
	color: #fff;
	text-align: center;
	line-height: 25px;
	margin-right: 5px;
	font-size: 22px;
}

.bg1{
	background: orange;
}
.bg2{
	background:#62B63C;
}
.bg3{
	background:#0BB20C;
}
.bg4{
	background:#B04B87;
}
.bg5{
	background:#CC0000;
}
.bg6{
	background:#FF9933;
}
.bg7{
	background:#979797;
}


.sec{ background: #fff; box-shadow: 0 1px 2px #aaa; margin-bottom: 1rem; }
.sec>h3{ height: 2.4rem; line-height: 2.4rem; border-bottom: 1px solid #ddd; padding:0 1rem; position: relative;}
.sec>h3 span{padding-left:2.4rem; margin-top:-0.8rem; font-size: 1rem; color:#222; display:inline-block;}
.sec>h3 em{ font-size: 1.1rem; color:#ff2150; padding-left:0.6rem; vertical-align: top;}
.sec>h3 i{ width:2.4rem; height: 2.4rem; position: absolute; right:0.4rem; cursor: pointer; 
background: url(../img/icon_u_close.png) no-repeat center center/1rem auto;}
.sec>h3 i.active{ transform: rotate(180deg);}
/* sec */

/* funcs */

.order h3 span{background: url(../img/icon_order_title.png) no-repeat left center /1.2rem auto;}
.ul_order{ width:100%; display:-webkit-box; padding-left:0.4rem;margin-top: 0.4px;}
.ul_order li{ -webkit-box-flex:1; width:25%; height:3.4rem; }
.ul_order li a{ width:100%; padding-top:2.5rem; line-height:0.2rem; font-size:0.8rem; display:block; text-align:center; color:#000; position:relative;}
.ul_order li:nth-of-type(1) a{ background:url(../img/icon_order_1.png) no-repeat center 20%/auto 1.6rem;}
.ul_order li:nth-of-type(2) a{ background:url(../img/icon_order_2.png) no-repeat center 20%/auto 1.6rem;}
.ul_order li:nth-of-type(3) a{ background:url(../img/icon_order_3.png) no-repeat center 20%/auto 1.6rem;}
.ul_order li:nth-of-type(4) a{ background:url(../img/icon_order_4.png) no-repeat center 20%/auto 1.6rem;}
.ul_order li i{ width:1.2rem; height:0.8rem; line-height:0.8rem; text-align:center; font-style:normal; color:#fff; position:absolute; top:0.3rem; right:25%;
background:#ff2150;  border-radius:50%;}
/* order */
